[submodule "backend"]
	path = backend
	url = https://github.com/RANGSEYhome/cadt-proj-1-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/RANGSEYhome/cadt-proj-1-frontend.git
